<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VueJS ES5 Starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- External styles -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style type="text/css" media="screen">
      [v-cloak] { display: none; }
    </style>
  </head>
  <body>
    <script type="text/x-template" id="my-item">
      <tr class="item" v-bind:class="{'active': isFavorite}">
        <td>
          <button v-if="!isFavorite" v-on:click="addToFavorites" class="btn btn-sm btn-success">+</button>
          <button v-if="isFavorite" v-on:click="removeFromFavorites" class="btn btn-sm btn-default">-</button>
        </td>
        <td>{{character.rank}}</td>
        <td>{{character.name}}</td>
        <td>{{character.movie}}</td>
        <td>{{character.year}}</td>
        <td>
          <button class="btn btn-default btn-xs" v-on:click="active = !active">
            <span v-if="active" >-</span>
            <span v-if="!active" >...</span>
          </button>
          <span v-if="active">{{character.description}}</span>
        </td>
      </tr>
    </script>

    <script type="text/x-template" id="my-filter">
      <div class="filter">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th>Name</th>
              <th>Movie</th>
              <th>Year</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="character in tarantino" :key="character.rank" is="my-item" v-bind:character="character"></tr>
          </tbody>
        </table>
      </div>
    </script>

    <div class="container">
      <div id="app">
        <div class="navbar navbar-default">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/raahede/vuejs-es5-starter">VueJS ES5 Starter</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div is="my-filter"></div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default" v-cloak v-if="favorites.length">
              <div class="panel-heading">
                <h3 class="panel-title">Favorites</h3>
              </div>
              <ol class="list-group">
                <li class="list-group-item" v-for="character in favorites" :key="character.name">
                  <h5>
                    <button v-on:click="removeFromFavorites(character)" class="btn btn-sm btn-default">-</button>
                    {{character.name}} <small>{{character.movie}}</small>
                  </h5>
                </tr>
              </ol>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Counter</div>
              <div class="panel-body">
                <p>Count: <span v-cloak>{{count}}</span></p>
                <p>Even/Odd: <span v-cloak>{{evenOrOdd}}</span></p>
                <button v-on:click="increment" class="btn btn-default">+</button>
                <button v-on:click="decrement" class="btn btn-default">-</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/build/assets/js/vendor/vue.js"></script>
    <script src="/build/assets/js/vendor/vuex.js"></script>
    <script src="/build/assets/js/vendor/vue-resource.js"></script>
    <script src="/build/assets/js/app.js"></script>
  </body>
</html>
