<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VueJS ES5 Starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style type="text/css" media="screen">
      [v-cloak] { display: none; }
      .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
      }
      .fade-enter, .fade-leave-active {
        opacity: 0
      }
    </style>
  </head>
  <body>
    <script type="text/x-template" id="my-content-types">
      <div class="contentful" style="position: absolute; width: 100%;">
        <ul v-if="contentTypes" class="nav nav-pills nav-stacked">
          <li v-for="contentType in contentTypes.items" is="router-link" v-bind:to="{ name: 'entries', params: { contentType: contentType.sys.id }}" tag="li" active-class="active"><a>{{contentType.name}}</a></li>
        </ul>
      </div>
    </script>

    <script type="text/x-template" id="my-entries">
      <div class="entries" style="position: absolute; width: 100%;">
        <ul v-if="entries" class="nav nav-pills nav-stacked">
          <li v-for="entry in entries.items" is="router-link" v-bind:to="{ name: contentTypeName, params: { contentType: $route.params.contentType, entryId: entry.sys.id }}" exact tag="li" active-class="active">
            <a v-if="entry.fields.title">{{entry.fields.title}}</a>
            <a v-if="entry.fields.name">{{entry.fields.name}}</a>
          </li>
        </ul>
      </div>
    </script>

    <script type="text/x-template" id="my-image">
      <div class="image" style="position: absolute; width: 100%;">
        <div class="thumbnail" v-if="entry">
          <img v-if="photo" v-bind:src="photo.fields.file.url" v-bind:alt="photo.fields.title">
          <div class="caption">
            <h3>{{entry.fields.title}}</h3>
            <p>{{entry.fields.imageCaption}}</p>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="my-author">
      <div class="author" style="position: absolute; width: 100%;">
        <div class="thumbnail" v-if="entry">
          <img v-if="profilePhoto" v-bind:src="profilePhoto.fields.file.url" v-bind:alt="profilePhoto.fields.title">
          <div class="caption">
            <h3>{{entry.fields.name}}</h3>
            <p>{{entry.fields.biography}}</p>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="my-gallery">
      <div class="gallery" style="position: absolute; width: 100%;">
        <div class="thumbnail" v-if="entry">
          <img v-if="coverImage" v-bind:src="coverImage.fields.file.url" v-bind:alt="coverImage.fields.title">
          <div class="caption">
            <h3>{{entry.fields.title}}</h3>
            <p>{{entry.fields.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" v-for="image in entry.fields.images">
            <my-image v-bind:entry-id="image.sys.id"></my-image>
          </div>
        </div>
      </div>
    </script>

    <div class="container">
      <div id="app">
        <div class="navbar navbar-default">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/raahede/vuejs-es5-starter">VueJS ES5 Starter</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="position: relative; overflow-x: hidden; height: 100vh; overflow-y: auto;">
            <transition
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
                v-bind:css="false"
              >
              <router-view></router-view>
            </transition>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/contentful@latest/browser-dist/contentful.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="./build/assets/js/vendor/vue.js"></script>
    <script src="./build/assets/js/vendor/vue-resource.js"></script>
    <script src="./build/assets/js/vendor/vue-router.js"></script>
    <script src="./build/assets/js/vendor/vuex.js"></script>
    <script src="./build/assets/js/app.js"></script>
  </body>
</html>
