<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VueJS ES5 Starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style type="text/css" media="screen">
      [v-cloak] { display: none; }
      .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
      }
      .fade-enter, .fade-leave-active {
        opacity: 0
      }
    </style>
  </head>
  <body>
    <script type="text/x-template" id="my-content-types">
      <div class="contentful row">
        <div class="col-md-3">
          <div v-if="contentTypes" class="list-group">
            <a v-for="contentType in contentTypes.items" is="router-link" v-bind:to="{ name: 'entries', params: { contentType: contentType.sys.id }}" tag="a" class="list-group-item" active-class="active">{{contentType.name}}</a>
          </div>
        </div>
        <router-view></router-view>
      </div>
    </script>

    <script type="text/x-template" id="my-entries">
      <div class="entries col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div v-if="entries" class="list-group">
              <a v-for="entry in entries.items" is="router-link" v-bind:to="{ name: contentTypeName, params: { contentType: $route.params.contentType, entryId: entry.sys.id }}" exact tag="a" class="list-group-item" active-class="active">
                <span v-if="entry.fields.title">{{entry.fields.title}}</span>
                <span v-if="entry.fields.name">{{entry.fields.name}}</span>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="my-image">
      <div class="image" v-if="entry">
        <div class="thumbnail">
          <div class="embed-responsive embed-responsive-4by3">
            <img class="embed-responsive-item" v-if="photo" v-bind:src="photo.fields.file.url" v-bind:alt="photo.fields.title">
          </div>
          <div class="caption">
            <h3>{{entry.fields.title}}</h3>
            <p>{{entry.fields.imageCaption}}</p>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="my-author">
      <div class="author" v-if="entry">
        <div class="thumbnail">
          <img v-if="profilePhoto" v-bind:src="profilePhoto.fields.file.url" v-bind:alt="profilePhoto.fields.title">
          <div class="caption">
            <h3>{{entry.fields.name}}</h3>
            <p>{{entry.fields.biography}}</p>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="my-gallery">
      <div class="gallery" v-if="entry">
        <div class="thumbnail">
          <div class="embed-responsive embed-responsive-4by3">
            <img class="embed-responsive-item" v-if="coverImage" v-bind:src="coverImage.fields.file.url" v-bind:alt="coverImage.fields.title">
          </div>
          <div class="caption">
            <h3>{{entry.fields.title}}</h3>
            <p>{{entry.fields.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" v-for="image in entry.fields.images" is="router-link" v-bind:to="{ name: 'image', params: { contentType: '1xYw5JsIecuGE68mmGMg20', entryId: image.sys.id }}" exact tag="a">
            <my-image v-bind:entry-id="image.sys.id"></my-image>
          </div>
        </div>
      </div>
    </script>

    <div class="container">
      <div id="app">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="https://github.com/raahede/vuejs-es5-starter">VueJS ES5 Starter</a>
            </div>
            <div class="collapse navbar-collapse">
              <p class="navbar-text navbar-right"><a href="https://github.com/raahede" class="navbar-link">@Raahede</a></p>
            </div>
          </div>
        </nav>
        <router-view></router-view>
      </div>
    </div>

    <script src="https://unpkg.com/contentful@latest/browser-dist/contentful.min.js"></script>
    <script src="./build/assets/js/vendor/vue.js"></script>
    <script src="./build/assets/js/vendor/vue-resource.js"></script>
    <script src="./build/assets/js/vendor/vue-router.js"></script>
    <script src="./build/assets/js/vendor/vuex.js"></script>
    <script src="./build/assets/js/app.js"></script>
  </body>
</html>
